#middleGroups {
    display: flex;
    justify-content: center;
}

#listGroups>a {
    text-decoration: none;
    color: white;
    margin-right: 30px;
    font-size: xx-large;
}

#listGroups>#inactiveGroups {
    color: rgb(245, 160, 85);
    text-decoration: underline;
}

#hideGroups {
    visibility: hidden;
    padding-bottom: 50px;
}

#subTitleGroups {
    margin-top: 30px;
    margin-bottom: 40px;
}

.cardGroups {
    border-top: darkgray solid 3px;
    border-radius: 10px;
    padding: 10px;
    max-width: 800px;
    display: flex;
}
.cardGroups:hover{
    cursor: pointer;
}
.cardGroups>img {
    aspect-ratio: 3/2;
    height: 200px;
    margin-right: 20px;
    border-radius: 10px;
}

.infoGroups>h3 {
    font-weight: normal;
    color: darkgrey;
}

.infoGroups {
    /* overflow-wrap: break-word; */
    word-break: break-word;
    text-overflow: ellipsis;

    /* white-space: nowrap; */
    overflow: hidden;
}

.infoGroups>p {
    /* overflow-wrap: break-word; */
    /* word-break: break-word; */
    text-overflow: ellipsis;
    /* white-space: nowrap; */
    overflow: hidden;
    height: 50px;
}
