#middleWelcomeGroup {
    display: flex;
    flex-direction: column;
    padding-left: 74px;
    padding-right: 74px;
}

#welcomeGroup {
    display: flex;
    max-width: 1000px;
    max-height: 350px;
    overflow-wrap: break-word;
    word-break: break-word;
    margin-bottom: 20px;
}

#breadcrumbGroup>a {
    color: rgb(245, 160, 85);
}

#welcomeGroup>img {
    aspect-ratio: 5/3;
    height: 350px;
    margin-right: 20px;
    border-radius: 10px;
}

#hideGroup {
    visibility: hidden;
    padding-bottom: 25px;
}

#welcomeInfoGroup>h1 {
    margin-top: 0px;
    font-weight: normal;
}

#welcomeInfoGroup>h3 {
    margin-top: 0px;
    font-weight: normal;
    color: darkgrey;
}

#welcomeInfoGroup {
    display: flex;
    flex-direction: column;
}

#buttonsGroup {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: end;
}

#buttonsGroup>button {
    background-color: cyan;
    border: white solid 3px;
    box-shadow: white 3px 2px;
    padding: 10px;
    font-family: 'Belanosima', serif;
    font-size: medium;
    justify-self: flex-start;
    height: 50px;
    margin-right: 15px;
}

#buttonsGroup>div>button {
    background-color: grey;
    border: white solid 2px;
    box-shadow: white 2px 1px;
    font-family: 'Belanosima', serif;
    font-size: medium;
    justify-self: flex-start;
    margin-right: 3px;
}

#bottomGroup {
    background-color: rgb(40, 40, 40);
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
    word-break: break-word;
    padding-left: 74px;
    padding-right: 74px;
    border-radius: 20px;
}

.cardGroup {
    border-radius: 10px;
    background-color: rgb(24, 26, 27);
    width: 540px;
    padding: 20px;
    margin-bottom: 20px;
    /* border-top: solid 3px white; */
    border-bottom: solid 3px white;
    /* border-right: solid 3px white; */
    border-left: solid 3px white;
}

.cardGroup>div {
    display: flex;
}

.cardGroup>p {
    margin-bottom: 0;
}

.cardIMGGroup {
    aspect-ratio: 3/2;
    height: 200px;
    margin-right: 10px;
    border-radius: 10px;
}

.cardInfoGroup>h2 {
    font-weight: normal;
}

.cardInfoGroup>h3 {
    font-weight: normal;
    color: rgb(245, 160, 85);
}

.cardInfoGroup>h4 {
    font-weight: normal;
    color: grey;
}
.cardGroup:hover{
    cursor: pointer;
}
