#middleEvents {
    display: flex;
    justify-content: center;
}

#listEvents>a {
    text-decoration: none;
    color: white;
    margin-right: 30px;
    font-size: xx-large;
}

#listEvents>#inactiveEvents {
    color: rgb(245, 160, 85);
    text-decoration: underline;
}

#hideEvents {
    visibility: hidden;
    padding-bottom: 50px;
}

#subTitleEvents {
    margin-top: 40px;
    margin-bottom: 30px;
}

.cardEvents {
    border-top: darkgray solid 3px;
    border-radius: 10px;
    padding: 10px;
    max-width: 800px;
    display: block;
    overflow-wrap: break-word;
    word-break: break-word;
}
.cardEvents:hover{
    cursor: pointer;
}
.cardEvents>div {
    display: flex;
}

.cardEvents>div>img {
    aspect-ratio: 3/2;
    height: 200px;
    margin-right: 20px;
    border-radius: 10px;
}

.infoEvents>h3 {
    font-weight: normal;
    color: darkgrey;
}

.infoEvents {
    overflow-wrap: break-word;
    word-break: break-word;
}

.infoEvents>p {
    flex-wrap: inherit;
}
.cardEvents>p{
    height: 35px;
    overflow: hidden;
}
